<header>
  <div class="container">
    <div class="header-left">
      <%= link_to("Darts Mark", "/") %>
    </div>
  </div>
  <div class="header-right">
    <%= link_to("ユーザー登録", signup_path, class: "btn btn-lg btn-primary") %>
  </div>
  <div class="header-right1">
    <%= link_to("ログイン", "#") %>
  </div>
  <div class="header-left1">
    <%= link_to("Darts Markとは", about_path) %>
    <%= link_to("使い方", info_path) %>
  </div>
</header>
